@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #13171b;
  font-family: "Noto Sans", "Arial", sans-serif;
}

@layer utilities {
  .text-shadow {
    color: #b3eafe;
    text-shadow: 0 0 5px #b3eafe, 0 0 5px #b3eafe;
  }
  .sec-text-shadow {
    color: #b3eafe;
    text-shadow: 0 0 5px #ccc, 0 0 5px #ccc;
  }
}
